.navbarWrapper{
  background-color: var(--bg);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1.3px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0px 30px; */
  width: 80%;
  margin: auto;
}

.logo { 
  width: 20%;
}

.logo a {
  font-size: 25px;
  color: var(--primary);
  text-decoration: none;
  font-weight: 600;
}

.searchWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: #f6f6f6;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid #c7c7c7c4;
}

.searchWrapper input {
  border: none;
  outline: none;
  background-color: #f6f6f6;
  width: 300px;
}

.profile {
  width: 20%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.profile img{
  border-radius: 50%;
  object-fit: cover;
  overflow-clip-margin: unset;
  border: 2px var(--primary) solid;
}

@media screen and (max-width: 673px) {
  .searchWrapper input {
    width: 150px;
  }
  .navbar {
    width: 90%;
  }
}

@media screen and (max-width: 473px) {
  .searchWrapper input {
    width: 100px;
  }
}