.onBoardingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  min-height: calc(100vh - 60px);
}

h1 {
  text-align: center;
  color: #333333;
}

#current-date {
  text-align: center;
  color: #777777;
  font-style: italic;
  margin-bottom: 20px;
}

.section {
  margin-bottom: 20px;
}

.section h2 {
  color: #444444;
}

.box {
  height: 60vh;
  width: 80%;
  padding: 40px;
  border: 1px solid #FAF2F2;
  border-radius: 5px;
  background-color: #ffffff;
}

/* .rowInput label {
  
} */

.rowInput {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  margin-bottom:40px;
}

label {
  display: inline-block;
  margin-bottom: 5px;
}

textarea.small-input {
  resize: none;
  outline: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  border-color: #00000030;
  height: 300px;
}

.small-input {
  width: 100%;
  padding: 10px;
  /* width: 500px; */
  flex-grow: 1;
  margin-bottom: 10px;
  box-sizing: border-box;
  outline: none;
  border-radius: 6px;
  border: 1px solid #00000090;
}

input[type="file"] {
  margin-bottom: 10px;
}

.profile-picture-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-picture-preview {
  margin-left: 20px;
}

.profile-picture-preview img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

button {
  padding: 10px 15px;
  color: #007BFF background-color #f5f5f5;
  border: none;
  cursor: pointer;
}

button.delete-button {
  background-color: #ff0800;
}

button:hover {
  opacity: 0.8;
}

.profilePic {
  border-radius: 100%;
  object-fit: cover;
  overflow-clip-margin: unset;
}

.submitButton {
  background-color: #5783db;
  border: none;
  color: white;
  transition: all .3s ease-in-out;
  padding: 8px 20px;
  border-radius: 5px;
  margin: 7px 0;
  /* width: 100%; */
  cursor: pointer;
  font-size: 18px;
}

.submitButton:hover {
  background-color: #5783dbcb;
}

@media (max-width: 1000px) {
  .rowInput {
    width: 90%
  }
}

@media (max-width: 750px) {
  .rowInput {
    width: 100%
  }
}

@media (max-width: 600px) {
  .onBoardingWrapper {
    width: 90%
  }

  .box {
    padding: 20px;
  }
}

/* New styles */

.stepWrapper {
  display: flex;
  flex-direction: column;
  align-items: center; 
  height: calc(100% - 80px);
}

.stepContent {
  flex-grow: 1;
}

.profileImage {
  width: 280px;
  height: 280px;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  border: 2px solid var(--primary);
  cursor: pointer;
}

.stepWrapper .button {
  background-color: #5783db;
  border: none;
  color: white;
  transition: all .3s ease-in-out;
  padding: 14px 20px;
  border-radius: 5px;
  width: fit-content;
  font-size: 18px;
}

.stepWrapper .button:hover {
  background-color: #5783dbcb;
  cursor: pointer;
}

.actionsButtons {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 12px;
}